.footer-header{
  padding-block-start: 2.5rem;
  border-block-end: 4px solid var(--white);
}

.footer-header h2{
  font: var(--headline3);
  margin-block-end: 1rem;
}

.footer-header h3{
  font: var(--headline4);
  padding-block-end: .5rem;
}

.footer-header > *{
  margin: 0;
}

@media screen and (min-width: 1187px) {
  .footer-header{
    padding-block-start: 5rem;
  }  

  .footer-header h2{
    font: var(--headline1);
  }

  .footer-header h3{
    font: var(--headline2);
  }
}