.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding-block-start: 1.5rem;
  padding-block-end: 2.5rem;
}

.footer p{
  font: 500 1.125rem/1.3125rem Maven Pro;
  margin: 0;
}

.footer-list{
  display: flex;
  list-style: none;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1168px) {
  .footer{
    padding: 5rem 9.375rem;
    flex-direction: row;
    justify-content: space-between;
  }  
}