@import './icons.css';
@import './button.css';
@import './title-header.css';
@import './card-project.css';
@import './header.css';
@import './hero.css';
@import './main.css';
@import './wrapper.css';
@import './footer-container.css';
@import './projects-details.css';
@import './skills.css';
@import './hero-footer.css';
@import './footer.css';

:root { 
  --primary: #34a7ff; 
  --white: #fffffe; 
  --black: #141414; 
  --grey: #9ba4ad; 
  --fontHeaderTitle: 700 2rem/3rem Maven Pro;
  --fontHeaderList: 500 1rem/1.62rem Maven Pro;
  --headline1: 700 5rem/normal Maven Pro; 
  --headline2: 700 1.75rem/normal Maven Pro; 
  --headline3: 700 1.625rem/3rem Maven Pro; 
  --headline4: 700 1.5rem/normal Maven Pro; 
  --button: 700 1.125rem/1.75rem Maven Pro; 
  --body1-regular: 400 1.125rem/1.75rem Maven Pro; 
  --body1-bold: 700 1.125rem/1.75rem Maven Pro; 
  --body2-regular: 400 1rem/normal Maven Pro; 
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background-color: var(--black);
  font: var(--headline2);
  margin: 0;
}

