.projectsDetails{
  margin-block-start: 1rem;
}

.projectsDetails > *{
  margin: 0;
}

.projectsDetails-title{
  font: var(--headline4);
}

.projectsDetails p{
  padding-block-start: 1rem;
}

.projectsDetails p:first-of-type{
  font: var(--body1-bold);
}

.projectsDetails p:last-of-type{
  font: var(--body1-regular);
}

@media screen and (min-width: 1187px){
  .projectsDetails-title{
    font: var(--headline3);
    padding-block-start: 1.625rem;
  }
}